body{
    padding: 0;
    margin: 0;
}
.bg{
    width: 100%;
    height: 70%;
    position: absolute;
    z-index: 1;
}
.bgImg{
    position: absolute;
    top: 150px;
    z-index: 4;
}
form{
    position: absolute;
    z-index: 20;    
    display: grid;
    width: 100%;
    justify-content: center;
    top: 30%;
}
form > div{
    width: 450px;
}
#signout_button{
    position: absolute;
    z-index: 27;
    right: 15px;
    top: 11px;
}
.authorize-btn-container{
    display: grid;
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
}
.d-grid{
    display: grid;
}
.justify-items-center{
    justify-items: center;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .bg{
        height: 100%;
    }
    .bgImg{
        top: 20%;
    }
    form{
        top: 27%;
        padding: 0 25px;
    }
    form > div{
        width: 100%;
    }
    .row{
     margin-right: 0px;
     margin-left: 0px; 
    }
 }